@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: Outfit;
}

select, input, textarea {
  border: 1px solid #c2c2c2;
  outline-color: #C586A5;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.active {
  background-color: #ffebf5;
  border-color: #C586A5;
}